@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <label for="search-input" class="input-group-text">Tên hàng</label>
                <input type="search" id="search-input" class="form-control rounded-end" placeholder="Nhập từ khóa" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary rounded-start">Lọc</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-icon">
                <span id="itemCountDisplay"></span>
                <a asp-controller="HangHoa" asp-action="CardList"><i class="bi bi-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container pt-2">
    <div class="row" id="product-list"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Hàm để lấy sản phẩm dựa trên tên hàng
            function getProductByName(tenHang) {
                $.ajax({
                    url: '/HangHoa/Search', // URL của action trong controller
                    type: 'GET',
                    data: { tenHang: tenHang }, // Truyền tham số tên hàng
                    dataType: 'json',
                    success: function (data) {
                        var productListHtml = '';
                        $.each(data, function (index, product) {
                            productListHtml += '<div class="col-md-4 mb-3">';
                            productListHtml += '<div class="card">';
                            productListHtml += '<img src="' + product.sAnhminhhoa + '" class="custom-image" style="width: 405px; height: 405px; object-fit: cover;">';
                            productListHtml += '<div class="card-body">';
                            productListHtml += '<h5 class="card-title">' + product.sTenhang + '</h5>';
                            productListHtml += '<p class="card-text">Giá: ' + product.fGianiemyet + '</p>';
                            productListHtml += '<p class="card-text">Xuất xứ: ' + product.sXuatxu + '</p>';
                            productListHtml += '<p class="card-text">Đặc điểm: ' + product.sDacdiem + '</p>';
                            productListHtml += '<button class="btn btn-primary add-to-cart" data-product-id="' + product.pkIHanghoaId + '"> <i class="bi bi-cart"></i></button>';
                            productListHtml += '</div>';
                            productListHtml += '</div>';
                            productListHtml += '</div>';
                        });
                        $('#product-list').html(productListHtml);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            // Sự kiện khi người dùng nhập tên hàng vào ô tìm kiếm
            $('#search-input').on('input', function () {
                var tenHang = $(this).val(); // Lấy giá trị nhập vào ô tìm kiếm
                getProductByName(tenHang); // Gọi hàm để lấy sản phẩm dựa trên tên hàng
            });

            // Sự kiện click khi người dùng thêm sản phẩm vào giỏ hàng
            $('#product-list').on('click', '.add-to-cart', function () {
                var productId = $(this).data('product-id'); // Lấy giá trị data-product-id từ nút
                $.ajax({
                    url: "/HangHoa/AddItemToSession",
                    type: "POST",
                    data: { numberToAdd: productId }, // Truyền giá trị productId vào phương thức
                    success: function (data) {
                        // Cập nhật giá trị hiển thị của số lượng item trong session
                        $("#itemCountDisplay").text("Số sản phẩm trong giỏ: " + data.itemCount);
                    },
                    error: function () {
                        console.error("Error occurred while adding item to session.");
                    }
                });
            });

            // Load toàn bộ sản phẩm khi trang được tải lần đầu
            getProductByName('');
        });

    </script>
}



