@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Bai2" asp-action="Receive" method="post">
    <h2> Register Page</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
        <span id="user-error" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" pattern="(?=.*\d).{8,}" name="password">
        <span id="password-error" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email">
        <span id="email-error" style="color: red;"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<div class="alert alert-info" role="alert">
    @ViewData["Message"]
</div>
